Source: jchat
Section: web
Priority: optional
Maintainer: Jack Christensen <jack@jackchristensen.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/jackc/jchat
Vcs-Git: https://github.com/jackc/jchat.git
Vcs-Browser: https://github.com/jackc/jchat

Package: jchat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Recommends: tern (>= 1.2.0), postgresql
Description: JChat
 Simple web chat
